@media (max-width: 720px) {
  body {
    background: #f0f0f0;
    font-family: "Roboto", sans-serif;
    font-weight: 500; /* Medium */
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 419px;
    margin: 0 auto;
    padding: 16px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
  }

  .close-button,
  .title,
  .dots {
    flex: 1;
    text-align: center;
  }

  .close-button {
    font-weight: 500;
    font-size: 16px;
    color: #5e5e5e;
    line-height: 24px;
    font-style: normal;
    margin-top: -15px;
  }

  .title {
    font-weight: 500;
    font-size: 20px;
    color: #fe5a22;
    margin-top: -5px;
  }

  .dots {
    font-weight: 600;
    font-size: 40px;
    color: #5e5e5e;
    margin-top: -33px;
  }

  .logo {
    position: absolute;
    width: 75.59px;
    height: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    color: #000000;
    margin: 24px 0;
    margin-top: 216px;
  }

  .form-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 78px; 
    width: 100%; 
  }

  .form-group {
    width: calc(100% - 36.9%); 
    margin-bottom: 16px;
  }

  label {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin-bottom: 8px; 
    text-align: left; 
    display: block;
  }

  .input-field {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #5e5e5e;
    font-size: 16px;
    padding: 8px; 
    border-radius: 4px; 
  }

  .signup-button {
    width: 100%;
    background: #fe5a22;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 
                0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-weight: 900;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding: 12px;
    border: none;
    margin-top: 26.28px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Добавлено свойство transform */
}

.signup-button:hover {
    background-color: #e04e1b; /* Цвет при наведении */
    transform: translateY(-2px); /* Поднимаем кнопку вверх */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2), /* Увеличиваем тень */
                0px 2px 4px rgba(0, 0, 0, 0.1);
}

  .sticker {
    width: 288px;
    height: auto;
    position: fixed;
    right: 0;
    bottom: 0;
  }

  .form-label {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-left: 10px;
  }

  .input-field {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    color: #5e5e5e;
    padding: 8px;
  }
}
