<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>Создать звонок</title>
</head>
<body class="bodyaddcalls">
    
    <div class="container3">
        <div class="header3">
          <img src="/img/qucik_sign_up.png" alt="Назад" class="qucik-signup" />
          <p class="edittext2">Звонки</p>
        </div>

        <div class="profile71">
            <img src="/img/photo_chats.png" alt="Пользователь" class="profile-pic71">
            <div class="user-info1">
                <p class="username2 a">Новый звонок</p>
                <p class="participants4">В звонок смогут войти все, кому вы <br>отправите ссылку. </p>
            </div>
        </div>

        <div class="content4">
            <div class="photo-section2">
              <div class="photo-item2">
                <img
                  src="/img/repost.png"
                  alt="Поделиться ссылкой в чате"
                  class="icon4"
                />
                <p class="textedit4">Поделиться ссылкой в чате</p>
              </div>
            </div>
            <div class="photo-section2">
              <div class="photo-item2">
                <img   src="/img/copy.png" alt="Скопировать ссылк" class="icon4" />
                <p  class="textedit4">Скопировать ссылку</p>
              </div>
            </div>
          </div>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>