<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>Звонки</title>
  </head>
  <body class="bodycalls">
    <div class="container4">
      <p class="callsname">Звонки</p>
      <div class="search-container">
        <input type="text" class="search" placeholder="Поиск" />
        <img src="/img/search.png" alt="Поиск" class="search-icon" />
      </div>
      <div class="call-link">
        <img src="/img/calls.png" alt="Иконка звонка" class="call-icon" />
        <span class="addcalls">Создать звонок по ссылке</span>
      </div>
    </div>

    <div class="container5">
    <p class="historyname">История звонков</p>
  <div class="call-history">
    <div class="call-entry">
      <img src="/img/photo_chats.png" alt="Image" class="circle" />
      <div class="call-info">
        <h2>ЕлкинКод</h2>
        <p>Групповой звонок 12:00</p>
      </div>
    </div>
      <div class="call-entry">
        <img src="/img/photo_chats.png" alt="Image" class="circle" />
        <div class="call-info">
          <h2>ЕлкинКод</h2>
          <p>Групповой звонок 12:00</p>
        </div>
      </div>
      <div class="call-entry">
        <img src="/img/photo_chats.png" alt="Image" class="circle" />
        <div class="call-info">
          <h2>ЕлкинКод</h2>
          <p>Групповой звонок 12:00</p>
        </div>
      </div>
      <div class="call-entry">
        <img src="/img/photo_chats.png" alt="Image" class="circle" />
        <div class="call-info">
          <h2>ЕлкинКод</h2>
          <p>Групповой звонок 12:00</p>
        </div>
      </div>
      <div class="call-entry">
        <img src="/img/photo_chats.png" alt="Image" class="circle" />
        <div class="call-info">
          <h2>ЕлкинКод</h2>
          <p>Групповой звонок 12:00</p>
        </div>
      </div>
      <div class="call-entry">
        <img src="/img/photo_chats.png" alt="Image" class="circle" />
        <div class="call-info">
          <h2>ЕлкинКод</h2>
          <p>Групповой звонок 12:00</p>
        </div>
      </div>
      <div class="call-entry">
        <img src="/img/photo_chats.png" alt="Image" class="circle" />
        <div class="call-info">
          <h2>ЕлкинКод</h2>
          <p>Групповой звонок 12:00</p>
        </div>
      </div>
    </div>
</div>

    <div class="menu3">
      <div class="menu-item">
        <img src="/img/telephone2.png" class="image" alt="Звонки" />
        <span class="textmenu2">Звонки</span>
      </div>
      <div class="menu-item">
        <img src="/img/chat2.png" class="image" alt="Чат" />
        <span class="textmenu">Чаты</span>
      </div>
      <div class="menu-item">
        <img src="/img/settings.png" class="image" alt="Настройки" />
        <span class="textmenu">Настройки</span>
      </div>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
