<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>Изменение чата - администратор</title>
  </head>
  <body>
    <div class="container6">
      <div class="header6">
        <img src="/img/qucik_sign_up2.png" alt="Назад" class="qucik-signup2" />
        <p class="edittext">Настройки чата</p>
        <span class="gotovotext2">Готово</span>
      </div>
    </div>

    <div class="profile-image">
      <img src="/img/edit_photo.png" alt="Профиль" class="profile-pic2" />
    </div>

    <div class="form-container">
      <label for="chat-name" class="namelabel">Название</label>
      <input type="text" id="chat-name" value="ЕлкинКод" class="chat-name" />
    </div>

    <div class="content">
      <div class="photo-section">
        <div class="photo-item">
          <img
            src="/img/recent_actions.png"
            alt="Недавние действия"
            class="icon2"
          />
          <p class="textedit">Недавние действия</p>
        </div>
      </div>
      <div class="photo-section">
        <div class="photo-item">
          <img src="/img/delete_chat.png" alt="Удалить чат" class="icon2" />
          <p  class="textedit">Удалить чат</p>
        </div>
      </div>
      <div class="photo-section">
        <div class="photo-item">
          <img src="/img/add_user.png" alt="Добавить участника" class="icon2" />
          <p  class="textedit">Добавить участника</p>
        </div>
      </div>
    </div>
  </body>
</html>
