<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <title>Чат - редактирование</title>
</head>
<body class="bodyeditchat">

    <div class="container7">
        <div class="header7">
            <img src="/img/qucik_sign_up2.png" alt="Назад" class="back-icon2">
            <div class="profile7">
                <img src="/img/photo_chats.png" alt="Пользователь" class="profile-pic7">
                <div class="user-info">
                    <p class="username2">ЕлкинКод</p>
                    <p class="participants2">32 участника</p>
                </div>
            </div>
        </div>
            <img src="/img/gear.png" alt="Настройки" class="settings-icon">
        </div>
        <div class="actions">
            <div class="action">
                <img src="/img/calls2.png" alt="Звонок" class="action-icon">
                <p>Звонок</p>
            </div>
            <div class="action">
                <img src="/img/uvedi.png" alt="Уведомления" class="action-icon">
                <p>Уведомл.</p>
            </div>
            <div class="action">
                <img src="/img/shape.png" alt="Поиск" class="action-icon">
                <p>Поиск</p>
            </div>
        </div>
 
        <div class="container9">
            <header class="headeredit">
                <div class="header-columns">
                    <div class="f1">Фото</div>
                    <div class="f2">Участники</div>
                    <div class="f3">Файлы</div>
                </div>
            </header>
            
            <div class="list-item">
                <img src="/img/sticker_osnova.png" alt="Фото участника" class="participant-photo">
                <span class="chatname">Василий</span>
                <span class="more-options2">...</span>
            </div>
            <div class="list-item">
                <img src="/img/sticker_osnova.png" alt="Фото участника" class="participant-photo">
                <span class="chatname">Петя</span>
                <span class="more-options2">...</span>
            </div>
            <div class="list-item">
                <img src="/img/sticker_osnova.png" alt="Фото участника" class="participant-photo">
                <span class="chatname">Лиза</span>
                <span class="more-options2">...</span>
            </div>
            <div class="list-item">
                <img src="/img/sticker_osnova.png" alt="Фото участника" class="participant-photo">
                <span class="chatname">Алиса</span>
                <span class="more-options2">...</span>
            </div>
            <div class="list-item">
                <img src="/img/sticker_osnova.png" alt="Фото участника" class="participant-photo">
                <span class="chatname">Наталья</span>
                <span class="more-options2">...</span>
            </div>
            <div class="list-item">
                <img src="/img/sticker_osnova.png" alt="Фото участника" class="participant-photo">
                <span class="chatname">Кристина</span>
                <span class="more-options2">...</span>
            </div>
        </div>
       
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>