<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>Профиль</title>
  </head>
  <body>
    
    <div class="container3">
      <div class="header3">
        <img src="/img/qucik_sign_up.png" alt="Назад" class="qucik-signup" />
        <p class="edittext">Редактирование</p>
        <span class="gotovotext">Готово</span>
      </div>

      <div class="profile-image">
        <img src="/img/camera_photo.png" alt="Профиль" class="profile-pic" />
      </div>

      <form class="edit-form">
        <label>Имя</label>
        <input type="text" value="Кристина" />

        <label>Фамилия</label>
        <input type="text" value="Тимофеева" />

        <label>Отчество</label>
        <input type="text" value="Дмитриевна" />

        <label>Рабочие дни</label>
        <div class="working-days">
          <select>
            <option>пн</option>
            <option>вт</option>
            <option>ср</option>
            <option>чт</option>
            <option>пт</option>
          </select>
          <span>-</span>
          <select>
            <option>пн</option>
            <option>вт</option>
            <option>ср</option>
            <option>чт</option>
            <option>пт</option>
          </select>
        </div>

        <label>Рабочее время</label>
        <div class="working-hours">
          <input type="time" value="08:00" />
          <span>-</span>
          <input type="time" value="17:00" />
        </div>
      </form>
    </div>

    <div class="menu2">
      <div class="menu-item">
        <img src="/img/telephone.png" class="image" alt="Звонки" />
        <span class="textmenu">Звонки</span>
      </div>
      <div class="menu-item">
        <img src="/img/chat2.png" class="image" alt="Чат" />
        <span class="textmenu">Чаты</span>
      </div>
      <div class="menu-item">
        <img src="/img/settings2.png" class="image" alt="Настройки" />
        <span class="textmenu2">Настройки</span>
      </div>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
